.header {
  margin-bottom: 20px;
}

.has-tooltip {
  display: inline-block;
  color: #000;
  background: #6df309;
  box-sizing: border-box;
}

.has-tooltip:hover {
  font-weight: bold;
}

.tooltip {
  position: absolute;
  display: none;
  background: black;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box;
}

.tooltip_active {
  display: inline-block;
}
